/* Style inputs with type="text", select elements and textareas */
input[type=text] {
    left: 10px;
    width: 70%; /* Full width */
    padding: 7px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
/* Style the submit button with a specific background color etc */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
button:hover {
    background-color: #45a049;
}
  
#offers, #member_detail{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#member_detail td, #member_detail th,#offers td, #offers th {
    border: 1px solid #ddd;
    padding: 8px;
}

 #offers th, #member_detail th {
    background-color: #713888;
    color: white;
}

#offers tr:hover,#member_detail tr:hover {background-color: #ddd;}

.hidden {display:none;}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
    height: 50px; 
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    top: 155px;
    background-color: #e8e9e8;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    top: 155px;
    background-color: #f3faf3;
  }

  .container {
    border-radius: 5px;
    background-color: #f02e2e;
    padding: 20px;
}

.results {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .inputs {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  #response {
    position: absolute;
    top:400px;
    left:20%;
    margin-left: 10px; 

  }
  
  h2 {
    
    color: rgb(204, 99, 99);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


  }
